@model WebFerreteria.Models.VentaDetalle

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Borrar</h1>

<h3>Estas seguro de querer eliminar esto?</h3>
<div>
    <h4>Venta Detalle</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NombreProducto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NombreProducto)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PrecioUnitario)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PrecioUnitario)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cantidad)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Subtotal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Subtotal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UsuarioRegistro)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UsuarioRegistro)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaRegistro)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaRegistro)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdProductoNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdProductoNavigation.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdVentaNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdVentaNavigation.Id)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-danger"><i class="fa fa-trash"></i> Eliminar</button> |
        <a asp-action="Index"><i class="fa fa-arrow-left"></i> Volver a la lista</a>
    </form>
</div>
