@model IEnumerable<WebFerreteria.Models.VentaDetalle>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Venta Detalle</h1>

<p>
    @* <a asp-action="Create">Crear Nuevo Venta Detalle</a> *@
    <a asp-action="Create"><i class="fa fa-plus"></i> Crear Nuevo Venta Detalle</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Nombre Producto</th>
            <th>Precio Unitario</th>
            <th>Cantidad</th>
            <th>Subtotal</th>
            <th>Usuario Registro</th>
            <th>Fecha Registro</th>
            <th>Producto Navigation</th>
            <th>Id Venta </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.NombreProducto)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PrecioUnitario)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cantidad)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Subtotal)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UsuarioRegistro)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaRegistro)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdProductoNavigation.Descripcion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdVentaNavigation.Id)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id" title="Editar"><i class="fa fa-edit"></i></a> |
                        <a asp-action="Details" asp-route-id="@item.Id" title="Detalle"><i class="fa fa-list"></i></a> |
                        <a asp-action="Delete" asp-route-id="@item.Id" title="Eliminar"><i class="fa fa-trash"></i></a>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="10" class="text-center">No hay datos disponibles.</td>
            </tr>
        }
    </tbody>
</table>
