@model IEnumerable<WebFerreteria.Models.Venta>

@{
    ViewData["Title"] = "Ventas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Ventas</h1>

<p>
    <a asp-action="Create"><i class="fas fa-plus"></i> Crear Nueva Venta</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Total</th>
            <th>Monto Pago</th>
            <th>Monto Cambio</th>
            <th>Fecha</th>
            <th>Usuario Registro</th>
            <th>Fecha Registro</th>
            <th>Cliente</th>
            <th>Usuario</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Total)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MontoPago)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MontoCambio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fecha)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UsuarioRegistro)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaRegistro)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdClienteNavigation.Nombres)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdUsuarioNavigation.Usuario1)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" title="Editar"><i class="fa fa-edit"></i></a> |
                    <a asp-action="Details" asp-route-id="@item.Id" title="Detalle"><i class="fa fa-list"></i></a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" title="Eliminar"><i class="fa fa-trash"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
